include LICENSE README MANIFEST.in
include etc/*
exclude etc/.gitignore
exclude etc/dqsegdb-0.91.spec
exclude etc/dqsegdb_template.spec
exclude etc/dqsegdb-1.0.spec
include debian/*
include debian/source/*
include versioneer.py
include dqsegdb/_version.py
prune bdist
prune server
prune web
