    <h3 class="w3-center">ABOUT</h3>
    <p>This is the Project Portal for the REINFORCE programme. It is accessible 
only to members of the REINFORCE Collaboration and contains:
    <ul class="w3-ul">
      <li><i class="far fa-calendar-alt"></i> a <a href="calendar" 
class="link">CALENDAR</a> containing important project deadlines</li>
      <li><i class="fas fa-handshake"></i> information on previous and upcoming 
<a href="events" class="link">EVENTS</a> and <a href="meetings" 
class="link">MEETINGS</a></li>
      <li><i class="fa fa-files-o"></i> links to <a href="deliverables" 
class="link">DELIVERABLES</a> that have been either finalised or are in  
progress</li>
      <li><i class="fas fa-book"></i> a document repository containing 
project <a href="resources" class="link">RESOURCES</a>, such as workshop 
presentations; formal agreements, etc.</li>
      <li><i class="fas fa-box-open"></i> information relating to the 
<a href="wp" class="link">WORK PACKAGES</a></li>
      <li><i class="fa fa-users"></i> <a href="contacts" class="link">
CONTACT</a> information for the members of the Collaboration</li>
      <li><i class="fa fa-globe"></i> a <a href="map" class="link">MAP</a> 
showing where the different institutions involved in the project are 
geographically situated</li>
      <li><i class="fa fa-chain"></i> a list of useful <a href="links" 
class="link">LINKS</a></li>
    </ul> 
