Source: dqsegdb
Section: unknown
Priority: extra
Maintainer: Ryan Fisher <ryan.fisher@ligo.org>
Build-Depends: debhelper (>= 8), python-all-dev (>= 2.6.6-3~), python-setuptools, git
Standards-Version: 3.8.4
X-Python-Version: >= 2.6

Package: python-dqsegdb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>=2.6), python-lscsoft-glue (>= 1.55), pyrxp | python-pyrxp, python-gwdatafind, python-ligo-segments
Description: dqsegdb client
 This package provides the client tools to connect to LIGO/VIRGO
  DQSEGDB instances.
