/*
Contains all image-related styles.
*/

/* === img === */
img
{
	border: 0px;
}

/* === Logo === */
img#img_logo
{
	position: relative;
	top: -10px;
	margin: 0 0 70px 0;
}

/* === Header image text === */
img#img_hdr_txt
{
	position: relative;
	float: left;
}

/* === Green arrow === */
img.green_arrow
{
	position: relative;
	top: 4px;
	margin: 0 6px 0 0;
}

/* === Tutorial image === */
img.img_tutorial {
	position: relative;
	border: 1px solid #CCC;
}


/* === Retrieve JSON payload image === */
img.img_get_json, img.img_get_json:hover {
	cursor: pointer;
}
img.img_get_json:hover {
	opacity: 0.4;
	filter: alpha(opacity=40);
}

/* === ASC/DESC sort arrows === */
img.img_sort_arrow {
	position: relative;
	top: 1px;
	left: 5px; 
}